h1 {
    font-family: "Algerian";
    font-weight: 500;
    line-height: 1.2;
    color: black;
    font-size: calc(1.375rem + 1.5vw);
}

h4 {
    font-family: "Algerian";
    font-weight: 500;
    line-height: 1.2;
    color: white;
    font-size: calc(1.375rem + 1.5vw);
}

#btnDaftar {
    color: white;
    background-color: #3f417e;
}

#btnDaftar:hover {
    color: #fdee1d;
}

.list-unstyled-kontak li a {
    color: black; /* Ensure the links are visible */
    text-decoration: none;
}
.list-unstyled-kontak li a:hover {
    text-decoration: underline;
    color: #3f417e;
}

/* navbar */
.navbar {
    background-color: #3f417e;
}
.custom-navbar .navbar-nav .nav-link {
    color: white;
}

.custom-navbar .navbar-brand span {
    color: white;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #fdee1d;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #3f417e;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 13px 20px;
}

#backToTopBtn:hover {
    background-color: #fdee1d;
    color: #3f417e;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.menu {
    margin-top: 50px;
}

.content {
    flex: 1;
}

title {
    font-family: "Algerian", serif;
}

.banner {
    background-size: cover;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #ffffff;
    background-image: url();
    position: relative;
}

.banner .overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(24, 69, 159);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card {
    height: 100%;
}

.lingkaran i {
    position: relative;
    top: 30px;
}

.crop-img {
    object-fit: cover;
}

.tim img {
    width: 250px;
    border: 10px solid #cccccc;
}

.register-section .icon-round {
    background-color: rgb(31, 10, 150);
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 40px auto;
    width: 4rem;
    height: 4rem;
    border-radius: 99rem;
}

.register-section .btn-primary {
    background-color: rgb(22, 98, 169);
}

/* FOOTER  */
.ftco-footer-widget .icon .logo {
    max-width: 150px; /* Adjust the logo size as needed */
}

.list-unstyled li {
    margin-bottom: 10px;
}
.list-unstyled li a {
    color: white; /* Ensure the links are visible */
    text-decoration: none;
}
.list-unstyled li a:hover {
    text-decoration: underline;
    color: #fdee1d;
}

.bg-footer {
    background-color: #3f417e; /* Warna latar belakang footer */
}

.bg-footer-bottom {
    background-color: #ffffff; /* Warna latar belakang bagian bawah footer */
}

.text-footer-bottom {
    color: #3f417e; /* Warna teks pada bagian bawah footer */
}

.list-unstyled {
    padding-left: 0;
}

.list-unstyled li {
    display: flex;
    align-items: center;
}

.list-unstyled li .fas {
    width: 20px;
    margin-right: 5px;
}

.list-unstyled li a {
    color: #ffffff; /* Warna teks untuk link */
}

footer {
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    background-color: rgb(35, 76, 159);
    border-top: 1px solid #ddd;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.footer-logo img {
    height: 96px;
    margin-bottom: 20px;
}

.footer-contact ul {
    list-style: none;
    padding: 0;
}

.footer-contact ul li {
    margin-bottom: 10px;
}

.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ffc107;
}

.footer-contact ul li i {
    margin-right: 10px;
}

.footer-bottom {
    border-top: 1px solid #000;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* .btn.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: none;
    transition: opacity 0.3s, background-color 0.3s;
  } */

.btn-back-to-top:hover {
    background-color: #0056b3;
}

.btn-back-to-top.show {
    display: block;
}
